.logo {  
  display: flex;
  padding-left: 20px;
  align-items: center;
  text-decoration: none;
}

.logo__title {
  padding: 12px 5px;
  font-size: .7em;
  font-weight: 700;
  line-height: 1em;
  border: 3px solid darkgreen;
  border-radius: 50%;
  color: rgb(0, 70, 0);
}