.card__info {
  width: 70%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card__about {
  width: 100%;
  font-size: 1em;
  line-height: 1.1em;
  font-weight: 400;
  font-style: italic;
}

.card__title {
  width: 100%;
  font-size: 1em;
  line-height: 1.1em;
  font-weight: 700;
}

.card__button {
  padding: 10px 20px;
  background-color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 5px beige;
  cursor: pointer;
}