.header {
  position: relative;
  width: 100%;
  display: flex;
  background-color: rgb(178, 205, 255);
}

.header__container {
  width: 100%;  
  background-color: rgb(178, 205, 255);
}

.header__title {
  padding: 20px 0;
  font-weight: 400;
  font-size: 2.5em;
  text-align: center;
  text-shadow: 0 0 10px #fff;
}