.grin-container {
  width: 100%;
  min-height: 50vw;
  padding: 50px 15px 15px;
  display: grid;
  grid-template-columns: 410px 410px 410px;
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

.card {
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 5px green;
  border-radius: 10px;
  background-color: white;
}
