.layout {
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.layout__card {
  width: 80%;
  margin: auto;
  padding: 10px 20px;
  display: flex;
  gap: 3%;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px beige;
}

@media screen and (max-width: 960px) {
  .layout__card {
    gap: 0;
    justify-content: space-between;   
  }
 }

 @media screen and (max-width: 720px) {
  .layout__card {
    flex-direction: column;
  }
 }